.navbar-brand .fa-address-book {
    color: #a9c6f5;
    font-size: 35px;
}

.profile-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.btn-custom-margin {
    margin: 15px;
}

.custom-field-item label {
    display: block;
    margin-right: 10px;
}

.custom-field-item {
    margin-bottom: 10px;
}

.custom-fields-row {
    background-color: #f9f9f9;
}

.toggle-details-btn {
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.disabled-btn {
    color: #b6becc;
    cursor: not-allowed;
}

.vich-image a[download] {
    display: none;
}

#contact_imageFile_delete {
    transform: scale(1.5);
    margin: 8px;
    display: none;
}

label[for="contact_imageFile_delete"] {
    font-size: 20px;
    margin-left: 10px;
    display: none;
}

.custom-select-class {
    height: 150px;
}

.select2-multiple__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}

