
{{ form_start(form) }}
<div class="input-group">
    {{ form_widget(form.q) }}
    <button class="btn btn-outline-secondary" type="submit" id="searchButton">
        <i class="bi bi-search"></i> Search
    </button>
</div>
{{ form_end(form) }}